body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 1em;
	color: #333;
}
h1{
	font-size: 1.4em;
}
.line_number{
	color: #bbb;
	margin-right: 15px;
}
.line_content{
	
}
.line_counter{
	color: #bb0000;
	margin-right: 10px;
}

